* {
    background-color: #222;
    color: #efefef;

}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    max-width: 450px;
    text-align: center;
    margin: 185px auto 0;
    padding: 90px;
    background-color: #222;
    border-radius: 20px 40px;
}

input {
    padding: 10px;
    font-size: 95%;
    border-radius: 15px;
    border: solid #efefef 2px;
}

button {
    display:inline-block;
    padding: 10px;
    font-size: 95%;
    cursor: pointer;
    border-radius: 45px;
    border: solid #efefef 2px;
    margin-top: 10px;
}

#playAgain {
    display: none;
    align-items: center;
    justify-content: center;

}

p {
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}